.chart {
    /* width: 80%;
    position: absolute;
    left: 18%;
    top: 13%;
    bottom: 10%;
    height: 500px !important; */
    width:80%;
    height: fit-content;
    float: right;
    position: relative;
    /* margin-left: 18%; */
    
}
.chartjs-render-monitor {
    height: fit-content !important;
    /* width: max-content !important; */
  }